   * {
    box-sizing: border-box;
   }
   .hidden {
     position: relative;
     left: -10000px;
     top: auto;
   }
   .hidden:focus {
     left: 0;
   }
   .sr-only {
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
   }
   body {
    background-color: #f2f2f2;
    color: #262626;
    font-family: Arial, sans-serif;
    line-height: 1.6;
   }
   .main-nav {
     font-weight: bold;
     word-spacing: 2rem;
     padding: 1rem;
     font-size: 150%;
     padding-left: 150px;
   }
   .main-nav a {
     text-decoration: none;
     color: #262626;
   }
   .background {
     background-color: white;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 50px;
     padding-bottom: 760px;
   }
    .main-content {
     float: left;
     width: 70%;
     padding-right: 100px;
     padding-left: 150px;
   }
   .content-box {
     float: right;
     width: 30%;
     padding-right: 150px;
   }
   .p-margin {
     padding-top: 35px;
     padding-bottom: 35px;
   }
   .footer {
     background-color: #262626;
     padding-left: 150px;
     padding-right: 100px;
     padding-top: 20px;
     padding-bottom: 70px;
     color: white;
     text-align: center;
     word-spacing: 2px;
    }
    .footer-nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
    .footer p {
      margin-left: 350px;
      margin-right: 350px;
    }
    .logo {
     padding-top: 50px
    }
    .blue-text {
     color: #0099cc;
    }
    .lightblue-text {
     color: #33ccff;
    }
    .box {
     background-color: #0099cc;
     color: white;
     padding: 20px 940px 20px 150px;
    }
    h1 {
      font-size: 40px;
      margin-bottom: 0;
    }
    header h2 {
      margin-top: 0;
    }
    .center {
     position: relative;
    }
    .notbold {
     font-weight:normal
    }
    article img {
      display: block;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      opacity: .95;
    }
    .background-2 {
      background-color: white;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .cats {
      font-weight: bold;
      text-align: center;
      margin-top: 100px;
      font-size: 25px;
    }
