
      body {
        background-color:  #e0e0d1;
        text-align: center;
        font-family: 'Roboto', sans-serif;
      }
      article {
        background-color: white;
        margin: 25px 50px 10px 50px;
        padding: 25px;
        border: 1px solid lightgrey;
      }
      a:link {
         text-decoration: none;
      }
      a:visited {
         text-decoration: none;
      }
      .important:hover {
         background-color:gray;
      }
      a {
        color: #33334d;
      }
      h1 {
        color: #404040;
        letter-spacing: 5px;
      }
      h2, h3, p {
        color: #595959;
        letter-spacing: 1px;
      }
      footer {
        color: #33334d;
      }
      img {
       opacity: 1.0;
      }
      .img:hover {
       opacity: 0.5;
       transition-duration: 3s;
       transition-timing-function: ease-out;
      }
      img {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h2 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      p {
        margin: 10px 10px 20px 30px;

      }
      .border {
        border-style: groove;
        border: 1.5px solid #4d4d4d;
      }
      .box {
        height: auto;
        width: 500px;
      }
      .box2 {
        height: auto;
        width: auto;
        margin: 10px 10px 20px 10px;
      }
      .container {
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      }
      i {
        font-size: 150%;
        letter-spacing: 5px;
        padding: 5px 10px 20px 10px;
      }
      .icon:hover {
        font-size: 200%;
        transition-duration: 2s;
      }
      .color i:nth-child(-n+5) {
        opacity: 0.5;
        color: green;
      }
      input, option, label {
       color: #595959;
       font-family: inherit;
       font-size: 100%;
       box-sizing: border-box;
       margin: 1rem;
      }
      textarea {
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
      }
      input[type=text] {
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
      }
      input[type=Email] {
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
      }
      .webform {
       height: auto;
       width: 500px;
       padding: 5% 5% 10% 5%;
       margin: 25px auto;
      }
      select {
       border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
    }
